<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <style>
        body, html {
            height: 100%;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="text-center">
            <h2>Original Link</h2>
            <a href="<%=originalUrl%>"><%= originalUrl %></a>

            <h1>Clicks</h1>
            <p><%= clicks %></p>
            <h1>Host</h1>
            <p><%= parsedUrl %></p>
        </div>
    </div>
</body>
</html>
